body {
  background-color: #343a40; /* Cor de fundo do modo escuro */
  color: #fff; /* Cor do texto no modo escuro */
}
/* Estilo para o resultado */
#resultado {
  margin-top: 20px;
}
/* Classe para definir largura fixa para a label */
.fixed-label {
  width: 150px; /* Defina o tamanho desejado */
  display: inline-block; /* Para permitir a definição de largura */
}